//====================================================================================================
.header {
	position: relative;

	&__mobilebg{
		padding-bottom: percent(392,320);
		@media (min-width:$mobileSmall){
		 display: none;
		}
	}
	
	// .header__slider-controls

	

	&__slider-controls {
		@media (max-width:$tablet){
			 display: none; 
		}
	}

	// .header__slider

	&__slider {
		@media (max-width:$mobileSmall){
			display: none; 
	  }
	  @media (min-width:$mobileSmall){
		 position: relative; 
	  }
	}

	// .header__swiper

	&__swiper {
	}

	// .header__slide

	&__slide {
		
	}

	// .header__slide-img

	&__slide-img {
		padding-bottom:percent(656,1920);
	}
	// .header__container

	&__container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin-top: 8px;
		@media (max-width:$mobile){
			 margin-top: 0;
			 padding-bottom: 16px;
			 border-bottom: 1px solid rgb(0, 0, 0, 0.1);
			 
		}
	}

	// .header__top

	&__tops{
		
	}

	&__top {
		display: flex;
		flex-wrap: wrap;
		column-gap: 10px;
		justify-content: space-between;
		align-items: center;
		font-weight: 500;
		font-size: rem(14);
		line-height: math.div(24 , 14);
		@media (max-width:$mobile){
			 flex-wrap: nowrap;
			 flex-direction: column;
			 align-items: flex-start;
			 margin-top: rem(30);
			 padding: 0px 16px;
		}
	}

	// .header__midle

	&__midle {
		display: flex;
		flex-wrap: wrap;
		column-gap: 10px;
		justify-content: space-between;
		align-items: center;
		margin-top: rem(20);
		@media (max-width:$tablet){
			justify-content: center;
		}
		@media (max-width:$mobile){
			 justify-content: start;
			 margin-top: 16px;
		}
	}

	// .header__bottom

	&__bottom {
		display: flex;
		//justify-content: center;
		align-items: center;
		//@include adaptiveValue("margin-top", 440, 20,1920,767.98);
		position: absolute;
		bottom: 8%;
		left: 50%;
		transform: translateX(-50%);
		@media (max-width:$mobile){
			//margin-top: 20px;
			 position: static;
			 transform: translateX(0);
			 flex-direction: column;
			 column-gap: 15px;
			 align-items: flex-start;
		}
	}
}
// .controls-header-slider {
	
	
// 	// .controls-header-slider__left

// 	&__left {
// 		left: 10%;
// 		&::before{
// 			//left: 50%;
// 			//transform:rotate(180deg) translate(50%, 50%);
// 		}
// 	}

// 	// .controls-header-slider__right

// 	&__right {
// 		right: 10%;
// 		&::before{
// 			@media (min-width:$mobileSmall){
// 				//transform: translate(-50%, -50%);
// 				//left: 50%; 
// 			}
// 		}
// 	}
// }

.header-top {

	// .header-top__pages

	&__pages {
		display: flex;
		gap: 4px;
		//order: 3;
		@media (max-width:$mobile){
			 margin-top: 8px;
			 order: 3;
			 max-width: 100%;
			 overflow-x: auto;
			 &::-webkit-scrollbar {
				display: none;
			 }
		}
	}

	// .header-top__center

	&__center {
		display: flex;
		align-items: center;
		gap: 16px;
		color: #666F78;
		@media (max-width:$mobile){
			gap: 0;
			flex-direction: column;
			margin-top: 2px;
			align-items: flex-start;
			span{
				padding: 8px 0px;
			} 
		}
	}

	// .header-top__contacts

	&__contacts {
		display: flex;
		align-items: center;
		
	}
}
.pages-top {
	a{
		border-radius: 5px;
		padding: 4px 8px;
	}
	// .pages-top__link

	&__link {

		//display: block;
		// .pages-top__link_bg-green

		&_bg-green {
			background: rgba(94, 158, 2, 0.1);
		}

		// .pages-top__link_color-green

		&_color-green {
			color: #5E9E02;
		}

		// .pages-top__link_bg-blue

		&_bg-blue {
			background: rgba(2, 64, 158, 0.1);
		}

		// .pages-top__link_color-blue

		&_color-blue {
			color: #02409E;
		}

		// .pages-top__link_bg-orange

		&_bg-orange {
			background: #BF5002;
		}

		// .pages-top__link_color-white

		&_color-white {
			color: #FFFFFF;
		}

		// .pages-top__link_bg-pink

		&_bg-pink {
			background: rgba(157, 37, 164, 0.1);
		}

		// .pages-top__link_color-pink

		&_color-pink {
			color: #9D25A4;
		}

		// .pages-top__link_bg-white

		&_bg-white {
			background: rgba(248, 164, 5, 0.1);
		}

		// .pages-top__link_color-orange

		&_color-orange {
			color: #F8A405;
		}
	}
}
.center-header {
	
	&__item{
		&_last{
			@media (max-width:$mobile){
				box-shadow:inset 0px -1px 0px rgb(0 0 0 / 10%);  
			}
		}
	}
	// .center-header__link

	&__link {
		@media (max-width:$mobile){
			margin-left: 16px;
			&_lk{
				margin-left: 0;
			}
		}
		&_cirkle{
			@media (max-width:$mobile){
				 display: none; 
			}
		}
	}
}

.contacts-header-top {
	span{
		margin-right: 36px;
		color: #666F78;
		@media (max-width:$pc){
			 display: none; 
		}
		@media (max-width:$mobile){
			 display: block; 
		}
	}
	&__link{
		margin-right: 16px;
		font-weight: 700;
		font-size: rem(18);
		line-height: math.div(24 , 18);
		color: #3E4449;
	}
	&__social{
		&:not(:last-child) {
			margin-right:13px
		}
	}
}

.milde-header {

	// .milde-header__logo

	&__logo {
		img{
			@include adaptiveValue("width", 176.74, 112.47,1920,768.98,1);
		}
		z-index: 5;
		@media (max-width:$mobile){
			 flex: 1 0 ; 
		}
	}

	&__body {
		width: 100%;
		margin-top: 16px;
	}
	// .milde-header__list

	&__list {
		padding: 0px 10px;
		display: flex;
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(32 , 18);
		
		@media (max-width:$mobile){
			flex-direction: column;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			background: white;
			padding: rem(56.54) rem(0) rem(50) rem(0);
			transition: left 0.3s ease 0s;
			z-index: 4;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 57px;
				left: -100%;
				top: 0;
				background-color: white;
			}
			li{
				display: flex;
				justify-content: space-between;
				margin-right: 0 !important;
				padding: 12px 0px;
				
				@media (max-width:$mobile){
					 flex-wrap: wrap; 
					}
				}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	&__item{
		position: relative;
		&:hover .milde-header__sublist{
			transform: translateY(0);
			opacity: 1;
		}
		&:not(:last-child) {
			margin-right:rem(15)
		}
		@media (max-width:$mobile){
			&:nth-child(2n+1){
				box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(0, 0, 0, 0.1);
				}
				&:last-child{
					box-shadow: none;
				}
			}
		}
	

		&__button {
			@media (min-width:$mobile){
				 display: none; 
			}
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-right: 16px;
			&::after{
				content:'\276F';
				font-size: rem(24);
				color: #E6E6E6;
				transform: rotate(90deg);
				transition: transform 0.3s;
				//margin: em(5,8) 0 0 0;
				//@extend %ic
			}
			&._spoller-active {
				&::after {
					transform: rotate(270deg);
				}
			}
		}

	&__sublist {
		background: #FBF3ED;
		position: absolute;
		z-index: 2;
		top: 100%;
		left: 0;
		opacity: 0;
		transition: all 0.3s;
		width: max-content;
		padding: 8px 0px;
		transform: translateY(-100%);
		pointer-events: none;
		font-size: rem(14);
		line-height: math.div(16 , 14);
		@media (max-width:$mobile){
			 position: relative;
			 width: 100%;
			 transform: translateY(0%);
			 opacity: 1;
		}
	}

	&__subitem {

	}
	// .milde-header__link

	&__link {
		@media (max-width:$mobile){
			 margin-left: rem(16);
			 font-weight: 600;
			 line-height: math.div(24 , 16);
		}
	}

	// .milde-header__shops

	&__shops {
		display: flex;
		z-index: 5
	}

	// .milde-header__shops-item

	&__shops-item {
		display: flex;
		a{
			font-weight: 500;
			margin-left: 5px;
			@media (max-width:1210px){
				 display: none; 
			}
		}
		&:not(:last-child) {
			margin-right:rem(25)
		}
	}

	// .milde-header__cart

	&__cart {
		&::before{
			font-weight: 600;
		}
	}
}
.bottom-header {
	line-height: math.div(24 , 16);
	background-color: #fff;
	border-radius: 10px;
	@media (max-width:$mobile){
		 padding: 16px 16px;
		
	}
	// .bottom-header__transfer

	&__transfer {
		display:flex;
		//padding: 16px 0px;
		align-items: center;
		gap: 8px;
		padding-left: 16px;
		@include adaptiveValue("width", 297, 200,1920,767);
		@media (max-width:$mobile){
			padding: 16px 16px 16px 0px;
			width: 100%;
		}
	}

	// .bottom-header__human

	&__human {
		display:flex;
		gap: 8px;
		//justify-content: space-between;
		align-items: center;
		padding-left: 16px;
		box-shadow: inset 1px 0px 0px #E3E1E1;
		@include adaptiveValue("width", 423, 350,1920,767);
		@media (max-width:$mobile){
			 justify-content: center;
			 padding: 16px 0px;
			 flex: 0 0 100%;
			 box-shadow: none;
			 box-shadow: inset 0px 1px 0px #E3E1E1;
			 width: 100%;
		}
	}

	// .bottom-header__book

	&__book {
		border-radius: 0 10px 10px 0;
		//padding: 0px 32px;
		@media (max-width:$mobile){
			width: 100%;
			border-radius: 10px;
		}
	}
}
.transfer {
	
	// .transfer__calendar

	&__calendar {
		margin-right: 8px;
	}

	// .transfer__to

	&__to {
	}

	// .transfer__from

	&__from {
	}
}
.human {

	// .human__logo

	&__logo {
		margin-right: 8px;
	}

	// .human__data

	&__data {
		display: flex;
		align-items: center;
		gap: 8px;
		flex: 1 0;
		@media (max-width:$mobile){
			 flex: 1 0;
			 margin-bottom: 12px;
			}
			@media (max-width:$mobileSmall){
				 *{
					display: none;
				 }
				 & :first-child{
					display: inline-block !important;
				 } 
			}
	}

	// .human__arrow

	&__arrow {
		padding-right: 16px;
		color: $orange;
	}
}
.data-human {

	// .data-human__adults

	&__adults {
	}

	// .data-human__children

	&__children {
	}

	// .data-human__rooms

	&__rooms {
	}
}


.swiper-button-disabled{
	opacity: 0;
	visibility: hidden;
}

.burger-menu-shadow {
	@media (max-width:$mobile){
		box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1)
	}
}

._pb {
	transition: all 0.3s;
	padding-bottom: 0 !important;
}

.headers {

	&__arrows{
		
	}

	&__arrow {
		
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(13.5);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		margin-right: 10px;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
			border-radius: 30%;
		}
		&::before {
			top: 0;
			width: rem(9);
		}
		&::after {
			bottom: 0;
			width: rem(18);
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
				width: rem(18);
				border-radius: 0;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

