//==========BANNER==========================================================================================
.page {

	// .page__banner

	&__banner {
		@include adaptiveValue("margin-top", 64, 56);
	}
}
.banner {

	// .banner__container

	&__container {
		//padding-bottom: percent(128, 1920);
		img {
			width: 100%;
		}
	}
}

//=========POPULAR===========================================================================================

.page {

	// .page__popular

	&__popular {
	}
}
.popular {

	// .popular__title

	&__title {
		margin-top: rem(76);
		font-weight: 700;
		@include adaptiveValue("font-size", 48, 32);
		text-align: center;
		line-height: math.div(48 , 56);
		@media (max-width:$mobile){
			 margin-top: rem(40); 
		}
		@include adaptiveValue("padding-bottom", 50, 25);
	}

	&__slide {
		@media (min-width:$mobile){
			&:last-child{
				grid-column-start: 1;
				grid-column-end: 3;
				justify-self: center;
			 } 
		}
	}
	&__swiper {
		grid-template-columns: repeat(3, 1fr);
		@media (min-width:$mobile){
			 display: grid !important;
			 grid-template-areas: 'a b'
							'c c';
			 @include adaptiveValue("gap", 24, 0);
		}
		@media (max-width:$pc){
			grid-template-columns: repeat(2, 1fr); 
			
		}
	}
	// .popular__house

	&__house {
	}

	// .popular__item

	&__item {
		display: grid;
		align-items: center;
		grid-template-columns: percent(212,447) auto;
		gap: rem(15);
		@media (max-width:$mobile){
			 grid-template-columns: 1fr;
			 //grid-auto-flow: column;
		}
	}

	&__pagination {
		//padding-top: 48px;
	}
}
.house-popular {

	// .house-popular_text

	&_text {
		font-weight: 600;
		color: $orange;
	}

	// .house-popular__img

	&__img {
		@media (min-width:$mobile){
			justify-self: end; 
		}
		//padding-bottom: percent(160, 1920);
		img {
			width: 100%;
			height: auto;
		}
	}

	// .house-popular__content

	&__content {
		// display: flex;
		 //height: 140px;
		 overflow: hidden;
		// flex-direction: column;
		// justify-content: space-between;
	}

	// .house-popular__title

	&__title {
		font-weight: 700;
		line-height: math.div(36 , 22);
		@include adaptiveValue("font-size", 22, 18);
		margin: 0px 0px 5px 0px;
	}

	// .house-popular__link

	&__link {
	}

	// .house-popular__subtitle

	&__subtitle {
		margin: 0px 0px 8px 0px;
		font-weight: 600;
		line-height: math.div(24 , 16);
		@include adaptiveValue("font-size", 16, 14);
		overflow: hidden;
	}

	// .house-popular__text

	&__text {
		font-weight: 400;
		@include adaptiveValue("font-size", 14, 12);
		line-height: math.div(24 , 14);
		color: #666F78;
		@media (max-width:$mobile){
			 font-weight: 500; 
		}
	}
}

#gridrows {
	@media (min-width:$mobile){
		grid-column-start: initial ; 
	}
}

/*=========infrastructure========*/

.page {

	// .page__infrastructure

	&__infrastructure {
		@include adaptiveValue("margin-top", 90, 35);
	}
}
.infrastructure {

	// .infrastructure__container

	&__container {
	}

	// .infrastructure__tabs

	&__tabs {
	}
}
.tabs {

	// .tabs__navigation

	&__navigation {
	}

	// .tabs__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 40, 20);
		}
		font-weight: 600;
		@include adaptiveValue("font-size", 24, 18);
		line-height: math.div(36 , 24);
	}

	// .tabs__content

	&__content {
		@include adaptiveValue("margin-top", 40, 20);
	}

	// .tabs__body

	&__body {
		

		
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(6, auto);
			 grid-template-rows: auto auto;
		@include adaptiveValue("gap", 24, 16);
		
		&_03 {
			grid-template-columns: repeat(3, auto);
		}
	}
	// .tabs__img

	&__img {
		img {
			max-width: 100%;
			height: auto;
		}
		position: relative;
		&_01 {
			grid-row-start: 1;
			grid-column-start: 1;
			grid-row-end: 3;
			grid-column-end: 3;
		}
		&_02 {
			grid-row-start: 1;
			grid-column-start: 3;
			 grid-row-end: 3;
			 grid-column-end: 5;
		}
		&_03 {
			grid-row-start: 1;
			grid-column-start: 5;
			grid-row-end: 2;
			grid-column-end: 6;
		}
		&_04 {
			grid-row-start: 1;
			grid-column-start: 5;
			grid-row-end: 2;
			grid-column-end: 7;
		}
		span {
			position: absolute;
			left: percent(31,446);
			bottom: percent(34,446);
			color: white;
			@include adaptiveValue("font-size", 24, 14);
			line-height: math.div(29 , 24);
			font-weight: 600;
		}
	}
}

// ._tab-active
._tab-active {
	transition: all 0.5s;
	color:$orange
}

/*=================MAP=============*/

.page {

	// .page__map

	&__map {
		margin-top: rem(95);
		@media (max-width:$tablet){
			margin-top: rem(40);
		}
	}
}
.map {

	// .map__container

	&__container {
		position: relative;
	}

	// .map__title

	&__title {
		position: absolute;
		z-index: 2;
		top: 1.457507%;
		left: percent(46,1392);
		color: #333333;
		font-weight: 700;
		@include adaptiveValue("font-size", 48, 32);
		line-height: math.div(58 , 48);
		@media (max-width:$mobile){
			 position: initial;
			 text-align: center; 
			 margin-bottom: rem(38);
		}
	}

	// .map__tour

	&__tour {
		position: absolute;
		z-index: 2;
		top: 14.664023%;
		left: percent(46,1392);
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		@media (max-width:$mobile){
			font-size: 16px;
			line-height: 1;
			top: 4.5%;
			left: 4.5%;
		}
		&::before{
			@include adaptiveValue("margin-right", 10, 6);
		}
	}

	// .map__img

	&__img {
		overflow: auto;
		position: relative;
		img {
			@media (min-width:$mobile){
				max-width: 100%;
				height: auto;
			}
			@media (max-width:$mobile){
				height: 430px;
			}
		}
	}

	// .map__tips

	&__tips {
		position: absolute;
		 top: 0;
		 left: 0;
		 right: 0;
		 bottom: 0;
	}

	// .map__tip

	&__tip {
		border-radius: 50%;
		width: 35px;
		height: 35px;
		position: absolute;
		// .map__tip_1

		&_1 {
			top: 46.6%;
			left: 53.9%;
			@media (max-width:$tablet){
				left: 458px;
			}
			background-color: red;
			
		}

		// .map__tip_2

		&_2 {
			top: 62%;
			left: 37%;
			background-color: blue;
			width: 45px;
			height: 45px;
			@media (max-width:$tablet){
				left: 305px;
			}
		}

		// .map__tip_3

		&_3 {
			top: 26%;
			left: 69.5%;
			background-color: green;
			@media (max-width:$tablet){
				 left: 587px; 
			}
		}
	}

	// .map__house

	&__house {
		position: absolute;
		max-width: 468px;
		right: -100%;
		top: 0;
		transition: right 0.5s;
		&._active {
			right: 0;
		}
		@media (max-width:$mobile){
		position: relative;
		right: 0;
		min-width: 100%;
		margin-top: rem(25);
		
		}
	}
	
}

.house {

	// .house__items

	&__items {
		//position: absolute;
	}

	// .house__item

	&__item {
		position: relative;
		z-index: 5;
		background: #FAFAFB;
		border-radius: 0px 20px 20px 0px;
		padding: 48px 0px 16px 48px;
		&._close-open {
			display: none;
		}
		@media (max-width:$mobile){
			 padding: 0px 0px 0px 0px; 
			 background: white;
		}
	}

	// .house__slider

	&__slider {
		position: relative;
		@media (max-width:$mobile){
			overflow: initial !important;
		}
	}
	// .house__swiper

	&__swiper {
	}

	// .house__slide

	&__slide {
	}

	// .house__slide-img

	&__slide-img {
		img {
			min-width: 100%;
			height: auto;
		}
	}

	// .house__controls

	&__controls {
		@media (max-width:$mobile){
			 margin-top: rem(16); 
		}
	}

	// .house__pagination

	&__pagination {
		@media (min-width:$mobile){
			 display: none; 
		}
		span {
			margin: 0px 6px !important;
		}
	}

	// .house__arrows

	&__arrows {
		display: flex;
		justify-content: space-between;
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	// .house__content

	&__content {
		margin-top: rem(30);
		padding-right: 42px;
		margin-bottom: 30px;
		@media (max-width:$mobile){
			 margin-top: rem(20);
			 padding-right: 0;
		}
	}

	// .house__tabs

	&__tabs {
		padding-right: 42px;
		@media (max-width:$mobile){
			 padding-right: 0; 
		}
	}

	// .house__arrow

	&__arrow {
		position: absolute;
		cursor: pointer;
		top: 40%;
		color: $orange;
		// width: 56px;
		// height: 56px;
		@include adaptiveValue("width", 56, 20);
		@include adaptiveValue("height", 56, 20);
		border-radius: 50%;
		background-color: rgb(255, 255, 255);
		&::before{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		&_left {
			left: 35%;
			transform: rotate(180deg);
			@media (max-width:$tablet){
				left: 50%;
			}
		}
		&_right {
			left: 50%;
			@media (max-width:$tablet){
				left: 69%;
			}
		}
	}
}
.dots {
	
}
.header {

	// .header__arrow

	&__arrow {
		
	}
}
.controls-header-slider {

	// .controls-header-slider__left

	&__left {
	}

	// .controls-header-slider__right

	&__right {
	}
}
.house-popular {

	// .house-popular__content

	&__content {
	}

	// .house-popular__title

	&__title {
	}

	// .house-popular__link

	&__link {
	}

	// .house-popular__subtitle

	&__subtitle {
	}

	// .house-popular__text

	&__text {
	}
}
.tabs-house {

	// .tabs-house__item

	&__item {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #E6E6E6;
		padding: 15px 42px;
		margin: 0px -42px;
		@media (max-width:$mobile){
			background: #F0F4F5;
			//box-shadow: inset 0px -1px 0px #E6E6E6, inset 0px 1px 0px #E6E6E6; 
		}
	}

	// .tabs-house__content

	&__content {
		@media (max-width:$mobile){
			 font-size: rem(14); 
		}
	}

	// .tabs-house__data

	&__data {
		line-height: math.div(24 , 16);
		margin-bottom: 5px;
	}

	// .tabs-house__text

	&__text {
	}

	// .tabs-house__button

	&__button {
	}

	// .tabs-house__btn

	&__btn {
		padding: 16px;
		&::before{
			font-size: 8px;;
			
		}
	}
}


/*============MAP==========*/

.page {

	// .page__adress

	&__adress {
		position:relative;
		@include adaptiveValue("margin-top", 100, 78);
	}
}
.adress {

	// .adress__city

	&__city {
		position: absolute;
		left: 15%;
		top: 5%;
		z-index: 2;
		background: white;
		border-radius: 10px;
		@media (max-width:$mobile){
			 width: 90%;
			 left: 50%;
			 transform: translate(-50%);
			 top: -5%;
		}
	}

	// .adress__content

	&__content {
		position: absolute;
		background: white;
		left: 15%;
		bottom: 10%;
		display: inline-block;
		width: rem(368);
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
		border-radius: 10px;
		z-index: 2;
		@media (max-width:$mobile){
			width: 90%;
			left: 50%;
			transform: translate(-50%);
			bottom: 55%; 
		}
	}

	// .adress__maps

	&__maps {
	}
}
.city-adress {

	// .city-adress__container

	&__container {
	}

	// .city-adress__items

	&__items {
		
		
		top: 5%;
		//left: 5%;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
		
		display: inline-flex;
		border-radius: 10px;
		@media (max-width:$mobile){
			 display: flex;
			 flex-direction: column;
		}
	}

	// .city-adress__item

	&__item {
		display: flex;
		padding: 16px 24px;
		align-items: center;
		transition: all 0.4s;
		border-radius: 10px 0 0 10px;
		@media (max-width:$mobile){
			padding: 12px 24px;
			justify-content: center;
		}
		&:last-child{
			padding-left: 24px;
			border-radius: 0 10px 10px 0;
		}
		&._active {
			background: $orange;
			color: white;
		}
		&:hover{
			background: $orange;
			color: white;
		}
	}

	// .city-adress__text

	&__text {
		margin-left: 8px;
		font-weight: 600;
		font-size: rem(18);
		line-height: math.div(24 , 18);
		@media (max-width:$mobile){
			 font-size: rem(14); 
		}
	}
}

.content-adress {

	// .content-adress__item

	&__item {
		padding: rem(35);
		@media (max-width:$mobile){
			 padding: rem(22); 
		}
	}

	// .content-adress__title

	&__title {
		font-weight: 600;
		font-size: rem(24);
		line-height: math.div(32 , 24);
		@media (max-width:$mobile){
			 font-size: rem(16);
			 line-height: math.div(24 , 16); 
		}
	}

	// .content-adress__text

	&__text {
		padding: 24px 0px 30px 0px;
		font-weight: 400;
		@include adaptiveValue("font-size", 16, 12);
		line-height: math.div(24 , 16);
		@media (max-width:$mobile){
			 padding: 5px 0px 18px 0px;
			 line-height: math.div(16 , 12);
		}
	}

	// .content-adress__choords

	&__choords {
		display: flex;
		align-items: center;
		column-gap: rem(12);
		span {
			font-weight: 600;
		}
	}

	// .content-adress__copy

	&__copy {
		&::before{
			color: $orange;
		}
	}
}
.adresss {

	// .adresss__body

	&__body {
		width: 100%;
		height: 576px;
	}
}
