//==========BANNER==========================================================================================
.page {

	// .page__banner

	&__banner {
		@include adaptiveValue("margin-top", 64, 56);
	}
}
.banner {

	// .banner__container

	&__container {
		//padding-bottom: percent(128, 1920);
		img {
			width: 100%;
		}
	}
}

//=========POPULAR===========================================================================================

.page {

	// .page__popular

	&__popular {
	}
}
.popular {

	// .popular__title

	&__title {
		margin-top: rem(76);
		font-weight: 700;
		@include adaptiveValue("font-size", 48, 32);
		text-align: center;
		line-height: math.div(48 , 56);
		@media (max-width:$mobile){
			 margin-top: rem(40); 
		}
		@include adaptiveValue("padding-bottom", 50, 25);
	}

	&__slide {
		@media (min-width:$mobile){
			&:last-child{
				grid-column-start: 1;
				grid-column-end: 3;
				justify-self: center;
			 } 
		}
	}
	&__swiper {
		grid-template-columns: repeat(3, 1fr);
		@media (min-width:$mobile){
			 display: grid !important;
			 grid-template-areas: 'a b'
							'c c';
			 @include adaptiveValue("gap", 24, 0);
		}
		@media (max-width:$pc){
			grid-template-columns: repeat(2, 1fr); 
			
		}
	}
	// .popular__house

	&__house {
	}

	// .popular__item

	&__item {
		display: grid;
		align-items: center;
		grid-template-columns: percent(212,447) auto;
		gap: rem(15);
		@media (max-width:$mobile){
			 grid-template-columns: 1fr;
			 //grid-auto-flow: column;
		}
	}

	&__pagination {
		//padding-top: 48px;
	}
}
.house-popular {

	// .house-popular_text

	&_text {
		font-weight: 600;
		color: $orange;
	}

	// .house-popular__img

	&__img {
		@media (min-width:$mobile){
			justify-self: end; 
		}
		//padding-bottom: percent(160, 1920);
		img {
			width: 100%;
			height: auto;
		}
	}

	// .house-popular__content

	&__content {
		// display: flex;
		 height: 140px;
		 overflow: hidden;
		// flex-direction: column;
		// justify-content: space-between;
	}

	// .house-popular__title

	&__title {
		font-weight: 700;
		line-height: math.div(36 , 22);
		@include adaptiveValue("font-size", 22, 18);
		margin: 0px 0px 5px 0px;
	}

	// .house-popular__link

	&__link {
	}

	// .house-popular__subtitle

	&__subtitle {
		margin: 0px 0px 8px 0px;
		font-weight: 600;
		line-height: math.div(24 , 16);
		@include adaptiveValue("font-size", 16, 14);
		overflow: hidden;
	}

	// .house-popular__text

	&__text {
		font-weight: 400;
		@include adaptiveValue("font-size", 14, 12);
		line-height: math.div(24 , 14);
		color: #666F78;
		@media (max-width:$mobile){
			 font-weight: 500; 
		}
	}
}

#gridrows {
	@media (min-width:$mobile){
		grid-column-start: initial ; 
	}
}

/*=========infrastructure========*/

.page {

	// .page__infrastructure

	&__infrastructure {
		@include adaptiveValue("margin-top", 90, 35);
	}
}
.infrastructure {

	// .infrastructure__container

	&__container {
	}

	// .infrastructure__tabs

	&__tabs {
	}
}
.tabs {

	// .tabs__navigation

	&__navigation {
	}

	// .tabs__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 40, 20);
		}
		font-weight: 600;
		@include adaptiveValue("font-size", 24, 18);
		line-height: math.div(36 , 24);
	}

	// .tabs__content

	&__content {
		@include adaptiveValue("margin-top", 40, 20);
	}

	// .tabs__body

	&__body {
		

		
	}

	&__grid {
		display: grid;
		
		@include adaptiveValue("gap", 24, 16);
		&_01 {
			 grid-template-columns: repeat(6, auto);
			 grid-template-rows: auto auto;
			// grid-template-areas: "a a b b c d"
			// 							"a a b b e f";
			
		}

		&_02 {

		}

		&_03 {

		}
	}
	// .tabs__img

	&__img {
		position: relative;
		&_01 {
			grid-row-start: 1;
			grid-column-start: 1;
			grid-row-end: 3;
			grid-column-end: 3;
		}
		&_02 {
			grid-row-start: 1;
			grid-column-start: 3;
			 grid-row-end: 3;
			 grid-column-end: 5;
		}
		&_03 {
			grid-row-start: 1;
			grid-column-start: 5;
			grid-row-end: 2;
			grid-column-end: 6;
		}
		span {
			position: absolute;
			left: 0;
			bottom: 0;
			color: white;
		}
	}
}

// ._tab-active
._tab-active {
	transition: all 0.5s;
	color:$orange
}

